<html><header>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:600' rel='stylesheet' type='text/css'>
<link href="/static/css.css" rel="stylesheet">
<title>e2m</title>
</header>

<body>
<div id="cdiv">
<center>订阅<center>
<p>请把blackguwc@163.com加入kindle白名单</p>
<form action="/sub" method=post>
<table><tr><td>
WENKU8小说ID：<input class="Wenku8ID" type=text name=id>
<tr><td>
KINDLE邮箱地址：<input class="mail" type=text name=mail>
</td><td>
<br>
<input class="isubmit" type=submit value=Convert>
</form>
</div>
</body>

</html>